@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixin.scss";

.Header {
  @include flexItems(space-between, center);
  padding: 10px 20px;
  background-color: map-get($colors, light);
  margin: 20px 80px;

  h1 {
    @include makeColorFix(black, desktopSize28, HardWeight);
    margin: 0;
  }

  .HeaderNavLinks {
    @include makeFlexForRow(15px);

    .HeaderNavBarLink {
      text-decoration: none;
      @include makeColorFix(primary, paragraph18, regular);
      transition: color 0.3s ease;
      border: 1px solid;
      border-radius: 8px;
      padding: 12px 16px;
      &:hover {
        color: #fff;
        background-color: red;
      }
      &.active {
        color: #fff;
        background-color: red;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
